/* text responsiveness*/
html {
    font-size: calc(0.5rem + 2.5vmin);
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: .9em;
}

h5 {
    font-size: .7em;
}

p {
    font-size: .6em;
}

b {
    font-weight: 800;
}

/* navigation styling*/
/* fixes checkbox nav glitch*/
body {
    -webkit-animation: bugfix infinite 1s;
}
@-webkit-keyframes bugfix {
    from {
        padding: 0;
    }

    to {
        padding: 0;
    }
}

/* header styling*/
.header {
  height: 22vh;
  background-color:  rgb(168, 232, 235);
}
/* main styling*/
.main {
    height: 40vh;
    background-color:  rgb(28, 235, 235);
    color: blue;
}